@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
@keyframes circleLines {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes circleColor {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #F6F9FC;
  background-image: url(../images/-e-eat-bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

section {
  width: 100vw;
  padding: 0 0 110px;
}

@media only screen and (max-width: 1024px) {
  section {
    height: 100vh;
    padding: 0;
  }
}

@media only screen and (max-width: 1024px) {
  section {
    height: auto;
    padding: 0 0 50px;
  }
}

.top-main-container {
  background-image: url("../images/-e-eat-bg.png");
  background-attachment: fixed;
}

.top-main-container header {
  width: 100%;
  padding: 44px 115px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .top-main-container header {
    padding: 44px 90px;
  }
}

@media only screen and (max-width: 568px) {
  .top-main-container header {
    padding: 44px 60px;
  }
}

@media only screen and (max-width: 425px) {
  .top-main-container header {
    padding: 44px 40px;
  }
}

.top-main-container header .header-left {
  perspective: 400px;
  transform-style: preserve-3d;
}

.top-main-container header .header-left .main-logo {
  opacity: 0;
  display: block;
  position: relative;
  transform: scale(1.2);
  transform-origin: center center;
}

.top-main-container header .header-left.aos-init .main-logo {
  transition: opacity 0.5s ease 0.25s, transform 0.75s cubic-bezier(0.4, 0, 0, 1);
}

.top-main-container header .header-left.aos-animate .main-logo {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.top-main-container header .header-center {
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1280px) {
  .top-main-container header .header-center {
    display: none;
  }
}

.top-main-container header .header-center__link {
  color: #555f69;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.6s cubic-bezier(0.4, 0, 0, 1);
  transition: 0.6s cubic-bezier(0.4, 0, 0, 1);
}

.top-main-container header .header-center__link:after {
  content: '';
  position: absolute;
  width: calc(100% - .46em);
  height: 2px;
  left: 0;
  bottom: -6px;
  background: rgba(241, 81, 122, 0.75);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0, 1);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0, 1);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0, 1);
}

.top-main-container header .header-center__link:hover {
  color: #f1517a;
}

.top-main-container header .header-center__link:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.top-main-container header .header-right {
  perspective: 400px;
  transform-style: preserve-3d;
}

.top-main-container header .header-right .login-btn {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid #f1517a;
  border-radius: 20px;
  color: #f1517a;
  opacity: 0;
  position: relative;
  transform: scale(1.2);
  transform-origin: center center;
}

.top-main-container header .header-right .login-btn:hover {
  background-color: #f1517a;
  color: #ffffff;
}

.top-main-container header .header-right.aos-init .login-btn {
  transition: opacity 0.5s ease 0.75s, transform 0.75s cubic-bezier(0.4, 0, 0, 1) 0.6s;
}

.top-main-container header .header-right.aos-animate .login-btn {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.top-main-container .center-content-block {
  height: auto;
  margin: 3% 0 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .top-main-container .center-content-block {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .top-main-container .center-content-block {
    padding: 0 20px 140px 75px;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 425px) {
  .top-main-container .center-content-block {
    padding: 0 20px 100px 45px;
  }
}

.top-main-container .center-content-block .info-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.top-main-container .center-content-block .info-container__inner {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  transition: box-shadow 0.75s cubic-bezier(0.4, 0, 0, 1) 0.75s;
}

.top-main-container .center-content-block .info-container .big-title {
  margin: 0 0 20px;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #3C4045;
}

@media only screen and (max-width: 1440px) {
  .top-main-container .center-content-block .info-container .big-title {
    font-size: 44px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 1280px) {
  .top-main-container .center-content-block .info-container .big-title {
    font-size: 40px;
    line-height: 45px;
  }
}

@media only screen and (max-width: 1024px) {
  .top-main-container .center-content-block .info-container .big-title {
    font-size: 36px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 980px) {
  .top-main-container .center-content-block .info-container .big-title {
    font-size: 30px;
    line-height: 35px;
  }
}

@media only screen and (max-width: 425px) {
  .top-main-container .center-content-block .info-container .big-title {
    font-size: 27px;
    line-height: 30px;
  }
}

.top-main-container .center-content-block .info-container .description {
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 30px;
  color: #555F69;
}

@media only screen and (max-width: 1440px) {
  .top-main-container .center-content-block .info-container .description {
    font-size: 18px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 1280px) {
  .top-main-container .center-content-block .info-container .description {
    line-height: 24px;
  }
}

@media only screen and (max-width: 1024px) {
  .top-main-container .center-content-block .info-container .description {
    line-height: 23px;
  }
}

@media only screen and (max-width: 980px) {
  .top-main-container .center-content-block .info-container .description {
    font-size: 16px;
    line-height: 20px;
  }
}

.top-main-container .center-content-block .info-container .join-us {
  padding: 14px 14px;
  width: 100%;
  max-width: 290px;
  background: #FFFFFF;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  transition: all ease-in-out .4s;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1280px) {
  .top-main-container .center-content-block .info-container .join-us {
    padding: 12px 14px;
  }
}

.top-main-container .center-content-block .info-container .join-us span {
  font-size: 17px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #3C4045;
}

.top-main-container .center-content-block .info-container .join-us .arrow-ico {
  width: 42px;
  height: 42px;
  background-color: rgba(241, 81, 122, 0.75);
  border-radius: 14px;
  transition: all ease .4s;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 1440px) {
  .top-main-container .center-content-block .info-container .join-us .arrow-ico {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 1366px) {
  .top-main-container .center-content-block .info-container .join-us .arrow-ico {
    width: 38px;
    height: 38px;
  }
}

@media only screen and (max-width: 1280px) {
  .top-main-container .center-content-block .info-container .join-us .arrow-ico {
    width: 36px;
    height: 36px;
  }
}

.top-main-container .center-content-block .info-container .join-us .arrow-ico:after {
  content: '';
  width: 100%;
  height: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: url("../images/icons/half-arrow.png");
  background-repeat: no-repeat;
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.top-main-container .center-content-block .info-container .join-us:after {
  content: '';
  width: 100%;
  height: 120%;
  position: absolute;
  left: 0;
  background: linear-gradient(90deg, #F1517A 0%, #555F69 100%);
  mix-blend-mode: normal;
  opacity: 0.4;
  filter: blur(90px);
  border-radius: 20px;
  transform: rotate(-180deg);
  z-index: 1;
}

.top-main-container .center-content-block .info-container .join-us:hover {
  box-shadow: 0px 37px 238px rgba(0, 0, 0, 0.5);
}

.top-main-container .center-content-block .info-container .join-us:hover .arrow-ico {
  background-color: #f1517a;
}

.top-main-container .center-content-block .info-container .join-us:hover .arrow-ico:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.top-main-container .center-content-block .info-container.right {
  width: 32.75%;
  position: relative;
  margin: 0 0px 0px 84px;
}

@media only screen and (max-width: 768px) {
  .top-main-container .center-content-block .info-container.right {
    margin: 0 0px 0px 0px;
    width: 60%;
  }
}

@media only screen and (max-width: 568px) {
  .top-main-container .center-content-block .info-container.right {
    width: 100%;
  }
}

.top-main-container .center-content-block .info-container.right:before, .top-main-container .center-content-block .info-container.right:after {
  content: '';
  position: absolute;
  border-radius: 20px;
}

.top-main-container .center-content-block .info-container.right:before {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #F6F9FC;
  transform-origin: left center;
  transition: transform 1s cubic-bezier(0.4, 0, 0, 1);
}

.top-main-container .center-content-block .info-container.right:after {
  top: 0;
  left: 0;
  z-index: 1;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 5px solid #3c4045;
}

.top-main-container .center-content-block .info-container.right.aos-animate .info-container__inner {
  box-shadow: 0px 37px 238px rgba(0, 0, 0, 0.5);
}

.top-main-container .center-content-block .info-container.right.aos-animate:before {
  transform: scaleX(0);
}

@media only screen and (max-width: 768px) {
  .top-main-container .center-content-block .info-container.left {
    margin: 0 0 50px;
  }
}

.about-container {
  margin: 0 0 0px;
  padding: 0 0 140px;
  height: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

@media only screen and (max-width: 980px) {
  .about-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 640px) {
  .about-container {
    padding: 0 20px 140px;
  }
}

.about-container .circle-lines {
  width: 80vw;
  height: 80vw;
  max-width: 1536px;
  max-height: 1536px;
  position: absolute;
  pointer-events: none;
  transition-delay: 1.5s;
}

.about-container .circle-lines:before, .about-container .circle-lines:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about-container .circle-lines:before {
  z-index: 2;
  animation: circleLines 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
}

.about-container .circle-lines:after {
  z-index: 1;
  border-radius: 50%;
  transform: scale(0);
  animation: circleColor 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

.about-container .circle-lines.white:before {
  background: url("../images/circle.png") no-repeat center;
  background-size: 100% 100%;
}

html.mobile-platform .circle-lines {
  display: none;
}

.about-container .circle-lines.circle-indicator {
  top: -40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .about-container .circle-lines.circle-indicator {
    top: -30%;
  }
}

@media only screen and (max-width: 768px) {
  .about-container .circle-lines.circle-indicator {
    top: -20%;
  }
}

.about-container .content-container {
  position: relative;
  z-index: 2;
}

.about-container .content-container.left, .about-container .content-container.right {
  padding: 10% 0 7%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
}

@media only screen and (max-width: 980px) {
  .about-container .content-container.left, .about-container .content-container.right {
    display: none;
  }
}

.about-container .content-container.left .top-info, .about-container .content-container.left .bot-info, .about-container .content-container.right .top-info, .about-container .content-container.right .bot-info {
  display: flex;
  justify-content: flex-start;
}

.about-container .content-container.left .top-info img, .about-container .content-container.left .bot-info img, .about-container .content-container.right .top-info img, .about-container .content-container.right .bot-info img {
  box-shadow: 0px 20px 70px rgba(85, 95, 105, 0.15);
}

@media only screen and (max-width: 1440px) {
  .about-container .content-container.left .top-info img, .about-container .content-container.left .bot-info img, .about-container .content-container.right .top-info img, .about-container .content-container.right .bot-info img {
    width: 100%;
  }
}

@media only screen and (max-width: 1280px) {
  .about-container .content-container.left .top-info img, .about-container .content-container.left .bot-info img, .about-container .content-container.right .top-info img, .about-container .content-container.right .bot-info img {
    width: 90%;
  }
}

.about-container .content-container.left .top-info, .about-container .content-container.right .top-info {
  margin: 0 0 98px;
}

.about-container .content-container.left {
  align-items: flex-start;
}

.about-container .content-container.left .bot-info {
  margin: 0 0 0 83px;
}

.about-container .content-container.right {
  align-items: center;
}

.about-container .content-container.right .top-info, .about-container .content-container.right .bot-info {
  justify-content: flex-end;
}

.about-container .content-container.center {
  width: 100%;
  max-width: 590px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.about-container .content-container.center .top-info {
  margin: 0 0 76px;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
}

.about-container .content-container.center .bot-info {
  box-shadow: 0px 37px 100px rgba(0, 0, 0, 0.5);
}

.about-container .content-container.center .logo {
  width: 42px;
  height: 47px;
  margin: 0 0 30px;
  background-image: url("../images/icons/-e-logo-mini.png");
}

.about-container .content-container.center .title {
  margin: 0 0 18px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #3C4045;
}

@media only screen and (max-width: 1440px) {
  .about-container .content-container.center .title {
    font-size: 36px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .about-container .content-container.center .title {
    font-size: 30px;
    line-height: 40px;
  }
}

.about-container .content-container.center .description {
  font-size: 20px;
  line-height: 30px;
  color: #555F69;
}

@media only screen and (max-width: 1440px) {
  .about-container .content-container.center .description {
    font-size: 18px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 425px) {
  .about-container .content-container.center .description {
    font-size: 16px;
    line-height: 20px;
  }
}

.advantage-container {
  background-image: url("../images/-e-eat-bg.png");
  background-attachment: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.advantage-container .main-title {
  margin: 0 0 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #3C4045;
}

@media only screen and (max-width: 1440px) {
  .advantage-container .main-title {
    font-size: 36px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .advantage-container .main-title {
    font-size: 30px;
    line-height: 40px;
  }
}

.advantage-container .content-container {
  width: 100%;
  max-width: 1200px;
}

.advantage-container .content-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.advantage-container .content-container ul .advantage-item {
  width: 100%;
  max-width: 320px;
  margin: 0 20px 60px 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 1280px) {
  .advantage-container .content-container ul .advantage-item {
    margin: 0 15px 60px 15px;
  }
}

.advantage-container .content-container ul .advantage-item .icon-cnt {
  margin: 0 0 10px;
}

.advantage-container .content-container ul .advantage-item .icon-cnt img {
  width: 100%;
}

@media only screen and (max-width: 1366px) {
  .advantage-container .content-container ul .advantage-item .icon-cnt img {
    width: 90%;
  }
}

@media only screen and (max-width: 1280px) {
  .advantage-container .content-container ul .advantage-item .icon-cnt img {
    width: 80%;
  }
}

.advantage-container .content-container ul .advantage-item .list-desc .title {
  font-size: 20px;
  line-height: 30px;
  color: #3C4045;
}

@media only screen and (max-width: 1366px) {
  .advantage-container .content-container ul .advantage-item .list-desc .title {
    font-size: 18px;
    line-height: 27px;
  }
}

.advantage-container .content-container ul .advantage-item .list-desc .description {
  font-size: 15px;
  line-height: 25px;
  color: #555F69;
}

@media only screen and (max-width: 1366px) {
  .advantage-container .content-container ul .advantage-item .list-desc .description {
    line-height: 20px;
  }
}
