@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import 'vars.scss';
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
	width: 100%;
    height: 100%;
    object-fit: fill;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: $regular;
	// line-height: 1em;
	background: #F6F9FC;
	background-image: url(../images/-e-eat-bg.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-position: center center;
	background-size: contain;
 
}

.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
}

section {
	width: 100vw;
	// height: 100vh;
	padding: 0 0 110px;

	@include mediaDesctop($w1024) {
		height: 100vh;
		padding: 0;
	}
	@include mediaDesctop($w1024) {
		height: auto;
		padding: 0 0 50px;
	}
}


.top-main-container { 
	background-image: url('../images/-e-eat-bg.png');
	background-attachment: fixed;

	header { 
        width: 100%;
		padding: 44px 115px;
		font-size: 15px;

        // @flex
        display: flex;
        align-items: center;
		justify-content: space-between;
		@include mediaDesctop($w768) {
			padding: 44px 90px;
		}
		@include mediaDesctop($w568) {
			padding: 44px 60px;
		}
		@include mediaDesctop($w425) {
			padding: 44px 40px;
		}
        

		.header-left { 
			perspective: 400px;
			transform-style: preserve-3d;

			.main-logo {
				opacity: 0;
				display: block;
				position: relative;
				transform: scale(1.2);
				transform-origin: center center;
			}

			&.aos-init {
				.main-logo {
					transition: opacity 0.5s ease 0.25s, transform 0.75s cubic-bezier(0.4, 0, 0, 1);
				}
			}

			&.aos-animate {
				.main-logo {
					opacity: 1;
					transform: scale(1) translateY(0);
				}
			}
		}

		.header-center {
			width: 60%;

			//@flex
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			@include mediaDesctop($w1280) {
				display: none;
			}

			&__link {
				color: #555f69;
				position: relative;
				display: inline-block;
				-webkit-transition: .6s cubic-bezier(.4,0,0,1);
				transition: .6s cubic-bezier(.4,0,0,1);

				&:after {
					content: '';
    				position: absolute;
					width: calc(100% - .46em);
					height: 2px;
					left: 0;
					bottom: -6px;
					background: rgba(241, 81, 122, 0.75);
					-webkit-transform-origin: center center;
					transform-origin: center center;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
					-webkit-transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
					transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
					transition: transform .6s cubic-bezier(.4,0,0,1);
					transition: transform .6s cubic-bezier(.4,0,0,1),-webkit-transform .6s cubic-bezier(.4,0,0,1);
				}

				&:hover {
					color: rgba(241, 81, 122, 1);

					&:after {
						-webkit-transform: scaleX(1);
    					transform: scaleX(1);
					}
				}
			}
		}

		.header-right {
			perspective: 400px;
			transform-style: preserve-3d;

			.login-btn {
				display: inline-block;
				padding: 12px 24px;
				border: 2px solid #f1517a;
				border-radius: 20px;
				color: #f1517a;

				opacity: 0;
				position: relative;
				transform: scale(1.2);
				transform-origin: center center;

				&:hover {
					background-color: #f1517a;
					color: #ffffff;
				}
			}

			&.aos-init {
				.login-btn {
					transition: opacity 0.5s ease 0.75s, transform 0.75s cubic-bezier(0.4, 0, 0, 1) 0.6s;
				}
			}

			&.aos-animate {
				.login-btn {
					opacity: 1;
					transform: scale(1) translateY(0);
				}
			}
		}
	}

	.center-content-block {
		height: auto;
		margin: 3% 0 0;

		//@flex
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;

		@include mediaDesctop($w1024) {
			padding: 0 20px;
		}
		@include mediaDesctop($w768) {
			padding: 0 20px 140px 75px;

			flex-flow: column nowrap;
			align-items: flex-start;
		}
		@include mediaDesctop($w425) {
			padding: 0 20px 100px 45px;
		}

		.info-container {
			//@flex
			display: flex;
			flex-flow: column nowrap;
			align-items: flex-start;

			&__inner {
				width: 100%;
				overflow: hidden;
				position: relative;
				border-radius: 20px;
				transition: box-shadow 0.75s cubic-bezier(0.4, 0, 0, 1) 0.75s;
			}

			.big-title {
				margin: 0 0 20px;
				font-size: 50px;
				font-weight: $bold;
				line-height: 60px;
				color: #3C4045;
				@include mediaDesctop($w1440) {
					font-size: 44px;
					line-height: 50px;
				}
				@include mediaDesctop($w1280) {
					font-size: 40px;
					line-height: 45px;
				}
				@include mediaDesctop($w1024) {
					font-size: 36px;
    				line-height: 40px;
				}
				@include mediaDesctop($w980) {
					font-size: 30px;
    				line-height: 35px;
				}
				@include mediaDesctop($w425) {
					font-size: 27px;
    				line-height: 30px;
				}
			}

			.description {
				margin: 0 0 20px;
				font-size: 20px;
				line-height: 30px;
				color: #555F69;
				@include mediaDesctop($w1440) {
					font-size: 18px;
					line-height: 27px;
				}
				@include mediaDesctop($w1280) {
					line-height: 24px;
				}
				@include mediaDesctop($w1024) {
					line-height: 23px;
				}
				@include mediaDesctop($w980) {
					font-size: 16px;
					line-height: 20px;
				}
			}

			.join-us {
				padding: 14px 14px;
				width: 100%;
				max-width: 290px;
				background: #FFFFFF;
				border-radius: 20px;
				position: relative;
				z-index: 2;
				transition: all ease-in-out .4s;

				@include mediaDesctop($w1280) {
					padding: 12px 14px;
				}

				//@flex
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: space-between;

				span {
					font-size: 17px;
					line-height: 15px;
					letter-spacing: 1px;
					color: #3C4045;
				}

				.arrow-ico {
					width: 42px;
					height: 42px;
					background-color: rgba(241, 81, 122, .75);
					border-radius: 14px;
					transition: all ease .4s;
					position: relative;
					overflow: hidden;

					@include mediaDesctop($w1440) {
						width: 40px;
    					height: 40px;
					}
					@include mediaDesctop($w1366) {
						width: 38px;
    					height: 38px;
					}
					@include mediaDesctop($w1280) {
						width: 36px;
    					height: 36px;
					}

					&:after {
						content: '';
						width: 100%;
						height: 8px;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						margin: auto;
						background-image: url('../images/icons/half-arrow.png');
						background-repeat: no-repeat;
						transform-origin: right center;
						transform: scaleX(0);
						    transition: transform .3s cubic-bezier(.455,.03,.515,.955),-webkit-transform .3s cubic-bezier(.455,.03,.515,.955)
					}
				}

				&:after {
					content: '';
					width: 100%;
					height: 120%;
					position: absolute;
					left: 0;
					background: linear-gradient(90deg, #F1517A 0%, #555F69 100%);
					mix-blend-mode: normal;
					opacity: 0.4;
					filter: blur(90px);
					border-radius: 20px;
					transform: rotate(-180deg);
					z-index: 1;
				}

				&:hover {
					box-shadow: 0px 37px 238px rgba(0, 0, 0, 0.5);

					.arrow-ico {
						background-color: rgba(241, 81, 122, 1);

						&:after {
							-webkit-transform: scaleX(1);
							transform: scaleX(1);
							-webkit-transform-origin: left center;
							transform-origin: left center;
						}
					}
				}
			}

			&.right {
				width: 32.75%;
				position: relative;
				margin: 0 0px 0px 84px; 
				
				@include mediaDesctop($w768) {
					margin: 0 0px 0px 0px;
					width: 60%;
				}
				@include mediaDesctop($w568) {
					width: 100%;
				}

				&:before,
				&:after {
					content: '';
					position: absolute;
					border-radius: 20px;
				}

				&:before {
					top: 0;
					left: 0;
					z-index: 2;
					width: 100%;
					height: 100%;
					background: #F6F9FC;
					transform-origin: left center;
					transition: transform 1s cubic-bezier(0.4, 0, 0, 1); 
				}

				&:after {
					top: 0;
					left: 0;
					z-index: 1;
					width: calc(100% - 10px);
					height: calc(100% - 10px);
					border: 5px solid #3c4045;
				}

				&.aos-animate {
					.info-container__inner {
						box-shadow: 0px 37px 238px rgba(0, 0, 0, 0.5);
					}

					&:before {
						transform: scaleX(0);
					}
				}
			}

			&.left {
				@include mediaDesctop($w768) {
					margin: 0 0 50px;
				}
			}
		}
	}
}

.about-container {
	margin: 0 0 0px;
	padding: 0 0 140px;
	height: auto;
	position: relative;
	overflow: hidden;
	    
	//@flex
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
	@include mediaDesctop($w980) {
		justify-content: center;
	}
	@include mediaDesctop($w640) {
		padding: 0 20px 140px;
	}

	.circle-lines {
		width: 80vw;
		height: 80vw;
		max-width: 1536px;
		max-height: 1536px;
		position: absolute;
		pointer-events: none;
		transition-delay: 1.5s;

		&:before, &:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		&:before {
			z-index: 2;
			animation: circleLines 5s cubic-bezier(.455,.03,.515,.955) infinite alternate;
		}
		&:after {
			z-index: 1;
			border-radius: 50%;
			transform: scale(0);
			animation: circleColor 5s cubic-bezier(.455,.03,.515,.955) infinite;
		}
		&.white {
			&:before {
			background: url('../images/circle.png') no-repeat center;
			background-size: 100% 100%;
			}
			// &:after {background: rgba(74,95,188,.3);}
		}
		@at-root html.mobile-platform .circle-lines {display: none;}

		&.circle-indicator {
			top: -40%;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 1;
			@include mediaDesctop($w768) {
				top:-30%;
			}
			@include mediaDesctop($w768) {
				top:-20%;
			}
		}
	}

	.content-container {
		position: relative;
		z-index: 2;
		&.left, &.right {
			padding: 10% 0 7%;
			overflow: hidden;

			//@flex
			display: flex;
			flex-flow: column nowrap;
			@include mediaDesctop($w980) {
				display: none;
			}

			.top-info, .bot-info {
				display: flex;
				justify-content: flex-start;

				img {
					box-shadow: 0px 20px 70px rgba(85, 95, 105, 0.15);
					@include mediaDesctop($w1440) {
						width: 100%;
					}
					@include mediaDesctop($w1280) {
						width: 90%;
					}
				}
			}

			.top-info {
				margin: 0 0 98px;
			}
		}

		&.left {
			align-items: flex-start;

			.bot-info {
				margin: 0 0 0 83px;
			}
		}

		&.right {
			align-items: center;

			.top-info, .bot-info {
				justify-content: flex-end;
			}
		}
		
		&.center {
			width: 100%;
			max-width: 590px;

			//@flex
			display: flex;
			flex-flow: column nowrap;
			align-items: center;

			.top-info {
				margin: 0 0 76px;

				//@flex
				display: flex;
				flex-flow: column nowrap;
				text-align: center;
				align-items: center;
			}

			.bot-info {
				box-shadow: 0px 37px 100px rgba(0, 0, 0, 0.5);
			}

			.logo {
				width: 42px;
				height: 47px;
				margin: 0 0 30px;
				background-image: url('../images/icons/-e-logo-mini.png');
			}

			.title {
				margin: 0 0 18px;
				font-weight: $bold;
				font-size: 40px;
				line-height: 60px;
				color: #3C4045;
				@include mediaDesctop($w1440) {
					font-size: 36px;
    				line-height: 50px;
				}
				@include mediaDesctop($w425) {
					font-size: 30px;
    				line-height: 40px;
				}
			}

			.description {
				font-size: 20px;
				line-height: 30px;
				color: #555F69;
				@include mediaDesctop($w1440) {
					font-size: 18px;
    				line-height: 27px;
				}
				@include mediaDesctop($w425) {
					font-size: 16px;
    				line-height: 20px;
				}
			}

			
		}

	}
}

.advantage-container {
	background-image: url('../images/-e-eat-bg.png');
	background-attachment: fixed;

	//@flex
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	.main-title {
		margin: 0 0 50px;
		font-weight: $bold;
		font-size: 40px;
		line-height: 60px;
		color: #3C4045;
		@include mediaDesctop($w1440) {
			font-size: 36px;
			line-height: 50px;
		}
		@include mediaDesctop($w425) {
			font-size: 30px;
			line-height: 40px;
		}
	}

	.content-container { 
		width: 100%;
		max-width: 1200px;
		
		ul { 
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;

			.advantage-item {
				width: 100%;
				max-width: 320px;
				margin: 0 20px 60px 20px;
				@include mediaDesctop($w1280) {
					margin: 0 15px 60px 15px;
				}

				//@flex
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				text-align: center;

				.icon-cnt { 
					margin: 0 0 10px;
					img { 
						width: 100%;
						@include mediaDesctop($w1366) {
							width: 90%;
						}
						@include mediaDesctop($w1280) {
							width: 80%;
						}
					}
				}

				.list-desc { 

					.title { 
						font-size: 20px;
						line-height: 30px;
						color: #3C4045;
						@include mediaDesctop($w1366) {
							font-size: 18px;
							line-height: 27px;
						}
					}

					.description { 
						font-size: 15px;
						line-height: 25px;
						color: #555F69;
						@include mediaDesctop($w1366) {
							line-height: 20px;
						}
					}
				}
			}
		}
	}
}